# ~/.config/systemd/user/qompass-secret.service
# -------------------------------------------------
# Copyright (C) 2025 Qompass AI, All rights reserved

[Unit]
Description=org.freedesktop.secrets agent for pass
PartOf=graphical-session.target
Environment=PASSWORD_STORE_DIR=%h/.password-store
[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=%h/.local/bin/qpass-hold
